body {
  background: linear-gradient(to right, #ff66b2, #4b0082); 
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  position: relative;
}

.form-outline > input {
  background-color: #ececec77;
}

.container {
  width: 35%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.background-radial-gradient {
  background-color: hsl(219, 43%, 17%);
  background-image: radial-gradient(
    650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  ),
  radial-gradient(
    1250px circle at 100% 100%,
    hsl(218, 41%, 45%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  );
}

.bubble {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 50%;
  animation: float 4s infinite; 
}

.bubble1 {
  width: 120px;
  height: 120px;
  top: 20%;
  left: 5%;
}

.bubble2 {
  width: 80px;
  height: 80px;
  top: 40%;
  left: 70%;
}

.bubble3 {
  width: 70px;
  height: 70px;
  top: 80%;
  left: 20%;
}

.bubble4 {
  width: 100px;
  height: 100px;
  top: 3%;
  left: 30%;
}

.bubble5 {
  width: 90px;
  height: 90px;
  top: 80%;
  left: 90%;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-30px);
  }
}

@media only screen and (max-width:768px) {
  .container {
      width: 95%;
      margin-top: 30px;
      position: absolute;
      left: 50%;
      top: 50%;
  }
}